  
  ],
  lineTension: 0.3,
  fill: false,
  borderColor: 'green',
  pointBorderColor: 'green',
  pointRadius: 0,
  pointHoverRadius: 15,
  pointHitRadius: 30,
  pointBorderWidth: 2
};

var tempData = {
  datasets: [dataFirst, dataSecond, dataThird]
};


// set the options
var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  },
  scales: {
        xAxes: [{
          type: "time",
          time: {
            unit: 'hour',
            unitStepSize: 1,
            // round: 'minute',
            tooltipFormat: "h:mm:ss a",
            displayFormats: {
              hour: 'MMM D, HH:mm'
            }
          }
        }],
        yAxes: [{
          gridLines: {
            color: "black",
            borderDash: [2, 5],
          },
          scaleLabel: {
            display: true,
            labelString: "temp (C)",
            fontColor: "green"
          }
        }]
      }
};

// draw the Chart
  var barChart = new Chart(popCanvas, {
    type: 'line',
    data: tempData,
    options: chartOptions
  });
</script>


</body>
</html>
